* {
    box-sizing: border-box
}

html {
    height: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    overflow: hidden;
    background-color: #c63424;
}

#canvas {
    background-color: transparent;
}

.control {
    position: absolute;
    top: 20%;
    right: 0;
    bottom: 0;
    left: 0;
}

.control .run-left, .control .run-right {
    width: 50%;
    height: 100%;
}

.control .run-left {
    float: left;
}

.control .run-right {
    float: right;
}

.sound-control {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
}

.sound-control .play, .sound-control .stop {
    display: inline-block;
    width: 32px;
    height: 32px;
}

.sound-control .play {
    display: inline-block;
    background: url('../images/play_sound.png') no-repeat;
    background-size: 32px 32px;
}

.sound-control .stop {
    display: none;
    background: url('../images/stop_sound.png') no-repeat;
    background-size: 32px 32px;
}

.sound-control.stop .play {
    display: none;
}

.sound-control.stop .stop {
    display: inline-block;
}

.code-picture {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #c63424;
    overflow: hidden;
}

.code-picture img {
    position: absolute;
}

.code-picture img.bg {
    width: 80%;
    left: 50%;
    transform: translate(-50%);
}

.code-picture img.code {
    z-index: 1;
    opacity: 0;
}

.position {
    position: fixed;
    right: 0;
    left: 0;
    bottom: -300px;
    background-color: #fff;
    padding: 0 10px;
    border-radius: 10px 10px 0 0;
    width: 100%;
    overflow: hidden;
    transition: bottom 0.5s ease-out;
}

.position .section {
    font-size: 12px;
    padding: 10px 0;
    border-bottom: 1px solid #f2f5f4;
}

.position .section:last-child {
    border-bottom: none;
}

.position .section .title {
    margin-bottom: 5px;
    font-size: 12px;
    color: #333;
}

.position .section .content {
    font-size: 20px;
    color: #333;
}

.position .section a {
    text-decoration: none;
    color: #333;
}

.position .section .content p {
    line-height: 1.1;
    margin: 0;
    color: #666;
    font-size: 12px;
}

.position .timeDown {
    float: right;
    background: url(../images/timedown.svg) no-repeat left center;
    background-size: 14px;
    padding-left: 18px;
}

.position .position-icon {
    float: right;
    background: url(../images/position.svg) no-repeat left center;
    width: 32px;
    height: 32px;
}

.timeDown > span {
    display: inline-block;
    background: #eee;
    border-radius: 3px;
    padding: 0 3px;
}
